@charset "utf-8";

.m_btns {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    margin: 0 calcRemPc(-12);
    > li {
        padding: 0 calcRemPc(12);
        width: 100%;
        @include mq() {
            padding: 0 1.2rem;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        .m_btn {
            min-width: auto;
            width: auto;
        }
    }
}

.m_btnWrap {
    .m_btn {
        max-width: calcRemPc(240);
        margin: 0 auto;
        @include mq() {
            max-width: 24rem;
        }
    }    
}

.m_btn {
    color: #fff;
    min-width: calcRemPc(150);
    background-color: $color-red;
    height: calcRemPc(56);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color .25s;
    @include hover() {
        background-color: $color-redHover;
    }
    @include mq() {
        min-width: 15rem;
        height: 5.6rem;
        font-size: 1.6rem;
    }
    &.m_btn__small {
        height: calcRemPc(40);
        @include mq() {
            height: 3rem;
            min-width: 10.8rem;
            font-size: 1.4rem;
        }
    }
}