@charset "utf-8";

// .m_card

.m_card_head {
    height: calcRemPc(80);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calcRemPc(40);
    @include mq() {
        margin-bottom: 4rem;
        height: 8rem;
    }
    img {
        display: block;
        max-width: calcRemPc(280);
        max-height: calcRemPc(80);
        @include mq() {
            max-width: 28rem;
            max-height: 8rem;
        }
    }
}

.m_card_body {
    margin-bottom: calcRemPc(40);
    text-align: center;
    @include mq() {
        margin-bottom: 4rem;
    }
}

.m_card_foot {
    display: flex;
    height: calcRemPc(56);
    justify-content: center;
    align-items: center;
    @include mq() {
        height: 5.6rem;
    }
}