@charset "utf-8";

.m_column {
    display: flex;
    margin-left: calcRemPc(-40);
    margin-right: calcRemPc(-40);
    margin-top: calcRemPc(80);
    margin-bottom: calcRemPc(80);
    @include mq() {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}

.m_column_col {
    padding: 0 calcRemPc(40);
    width: 100%;
    @include mq() {
        padding: 0;
    }
    + .m_column_col {
        border-left: 1px solid #cecece;
        @include mq() {
            border-left: none;
            border-top: 1px solid #cecece;
            margin-top: 4rem;
            padding-top: 4rem;
        }
    }
}

.m_column2 {
    display: flex;
    justify-content: space-between;
    margin-top: calcRemPc(80);
    margin-bottom: calcRemPc(80);
    @include mq() {
        display: block;
    }
}

.m_column2_col {
    + .m_column2_col {
        @include mq() {
            margin-top: 6rem;
        }
    }
}