@charset "utf-8";

.m_example {
    width: calcRemPc(544);
    height: calcRemPc(306);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calcRemPc(40);
    @include mq() {
        width: auto;
        height: 24rem;
        padding: 0;
    }
}

.m_example_txt {
    color: #fff;
    text-align: center;
    width: 100%;
}

.m_example_ttl {
    font-size: calcRemPc(32);
    margin-bottom: calcRemPc(20);
    @include mq() {
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }
}

.m_example_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calcRemPc(64);
    flex-wrap: wrap;
    margin-bottom: 0;
    @include mq() {
        height: auto;
    }
    > li {
        margin: calcRemPc(10) calcRemPc(10) 0;
    }
}