@charset "utf-8";

.m_flow {
    display: flex;
    margin-top: calcRemPc(80);
    margin-bottom: calcRemPc(80);
    @include mq() {
        display: block;
        margin-top: 6rem;
        margin-bottom: 6rem;
        padding-bottom: 4rem;
        overflow: hidden;
    }
    > li {
        padding-left: calcRemPc(80);
        width: calcRemPc(240);
        height: calcRemPc(180);
        background-color: #1f4958;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq() {
            width: auto;
            padding-left: 0;
            height: 10rem;
            padding-top: 5rem;
            align-items: center;
        }
        + li {
            margin-left: calcRemPc(30);
            @include mq() {
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        > span {
            color: #fff;
            font-size: calcRemPc(20);
            @include mq() {
                font-size: 1.6rem;
            }
        }
        &::before {
            content: '';
            width: 0;
            height: 0;
            display: block;
            border-top: calcRemPc(90) solid transparent;
            border-right: 0 solid transparent;
            border-bottom: calcRemPc(90) solid transparent;
            border-left: calcRemPc(60) solid #fff;
            position: absolute;
            top: 0;
            left: 0;
            @include mq() {
                border-top: 4rem solid #fff;
                border-right: 16.4rem solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 16.4rem solid transparent;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            border-top: calcRemPc(90) solid transparent;
            border-right: 0 solid transparent;
            border-bottom: calcRemPc(90) solid transparent;
            border-left: calcRemPc(60) solid #1f4958;
            position: absolute;
            top: 0;
            right: calcRemPc(-59);
            z-index: 1;
            @include mq() {
                border-top: 4rem solid #1f4958;
                border-right: 16.4rem solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 16.4rem solid transparent;
                right: 50%;
                transform: translateX(50%);
                top: auto;
                bottom: -3.9rem;
            }
        }
    }
}