@charset "utf-8";

.m_mainVisual {
    position: relative;
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

.m_mainVisual_slider {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    .m_mainVisual_slider_item {
        max-height: 663px;
        height: calcRemPc(663);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include mq() {
            max-height: 100%;
            height: 30rem;
            background-position: right 25% top;
        }
        &:nth-child(2) .m_mainVisual_catch{
            left: auto;
            right: calcRemPc(48);
            text-align: right;
        }
    }
}

.m_mainVisual_catch {
    position: absolute;
    top: 50%;
    left: calcRemPc(48);
    font-size: calcRemPc(60);
    font-weight: bold;
    color: #fff;
    transform: translateY(-50%);
    @include mq() {
        font-size: 2.6rem;
    }
    > span {
        display: block;
        font-size: calcRemPc(20);
        margin-top: calcRemPc(40);
        @include mq() {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

.m_mainVisual_nav {
    position: absolute;
    margin-bottom: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    @include mq() {
        bottom: 1.2rem;
    }
    > li {
        padding: 4px;
        + li {
            margin-left: 8px;
        }
        > button {
            appearance: none;
            background-color: #eaeaea;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            display: block;
            padding: 0;
            border: 0;
            text-indent: -99999px;
            color: transparent;
            &:focus {
                outline: none;
            }
        }
        &.slick-active > button {
            background-color: #2fafe5;
        }
    }
}