@charset "utf-8";

.m_sec {
    background-color: #fff;
    padding: calcRemPc(80) 0;
    @include mq() {
        padding: 8rem 0;
    }
    &.m_sec__type2 {
        background-color: #eaeaea;
    }
}

.m_sec_inner {
    @include lastItem-mb0;
}