@charset "utf-8";

.m_topBtn {
    display: none;
    @include mq() {
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        background-color: $color-red;
        border-radius: 2.4rem;
        position: fixed;
        bottom: 2.4rem;
        right: 2.4rem;
        z-index: 1;
        opacity: 0;
        transition: opacity .25s;
        pointer-events: none;
        &.is_show {
            opacity: 1;
            pointer-events: auto;
        }
        &::before {
            content: '';
            display: block;
            width: 2.6rem;
            height: 1.4rem;
            background-image: url(../img/ic_topBtn_arrow01.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}