@charset "utf-8";

.m_heading {
    padding-bottom: calcRemPc(60);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 40%;
    @include mq() {
        padding-bottom: 6rem;
    }
}

#section01 .m_heading {
    background-image: url(../img/txt_section1_01.png);
    background-size: calcRemPc(411) calcRemPc(84);
    @include mq() {
        background-size: 24.7rem 5.1rem;
    }

}

#section02 .m_heading {
    background-image: url(../img/txt_section2_01.png);
    background-size: calcRemPc(495) calcRemPc(83);
    @include mq() {
        background-size: 29.7rem 5rem;
    }
}

#section03 .m_heading {
    background-image: url(../img/txt_section3_01.png);
    background-size: calcRemPc(258) calcRemPc(48);
    @include mq() {
        background-size: 15.5rem 2.9rem;
    }
}

.m_ttl {
    color: #000;
    font-size: calcRemPc(48);
    font-weight: bold;
    @include mq() {
        font-size: 3.2rem;
    }
}