@charset "utf-8";

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin mq($breakpoint: sp, $rule: max) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);
    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}

@mixin hover($breakpoint: pc, $rule: min) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);
    @media screen and (#{$rule}-width: $breakpoint) {
        &:hover {
            @content;
        }
    }
}

@mixin lastItem-mb0 {
    > *:last-child {
        margin-bottom: 0;
    }
}

@function calcRemPc($val) {
    @return $val/10/2+rem;
}

@function calcRemSp($val) {
    @return 320/375*$val+rem;
}