@charset "utf-8";

@import "setting";
@import "mixin";

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
top
━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.top_hoge {
    background-color: #000;
    @include mq() {
        background-color: #f00;
    }
}