@charset "utf-8";

@import "setting";
@import "mixin";

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Utility
━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.u_mt0 {
    margin-top: 0 !important;
}

br.u_spHide {
    @include mq() {
        display: none;
    }
}

br.u_pcHide {
    display: none;
    @include mq() {
        display: inline;
    }
}