@charset "utf-8";

html {
    font-size: 1.5625vw; // 20÷1280*100vw
    // ※ 1remと指定すると、1280の横幅の時に20pxのフォントサイズになる
    @include mq() {
        min-width: 320px;
        font-size: 2.66666vw; // 10÷375*100vw
        // ※ 1remと指定すると、375の横幅の時に10pxのフォントサイズになる
    }
}
@media (min-width: 1280px) {
    html {
        font-size: 20px;
    }
}

body {
    color: #120000;
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: calcRemPc(16);
    line-height: 1.4;
    margin: 0;
    padding: 0;
    word-break: break-all;
    @include mq() {
        font-size: 1.6rem;
    }
}

p, ul, ol, dl {
    // 各要素デフォルトのマージン。
    // 現状入っているものは仮のもののため、各サイトを作る時に設定を変更する。
    margin-bottom: 1em;
}

a {
    // デフォルトのリンク色。
    // 現状入っている色は仮のもののため、各サイトを作る時に設定を変更する。
    color: $color-red;
    text-decoration: underline;
    // デフォルトのホバーもサイトを作る時に最初に設定する。
    &:hover {
        text-decoration: none;
    }
}

img {
    vertical-align: bottom;
}

input,
textarea,
select {
    font-family: inherit;
}