<!DOCTYPE html>
<html lang="ja">
{% if useSnsShare === true -%}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{%- else -%}
<head>
{%- endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>
    {% if description -%}
    <meta name="description" content="{{ description }}">
    {%- else -%}
    <meta name="description" content="固定のディスクリプション文言">
    {%- endif %}
    {% if keywords -%}
    <meta name="keywords" content="{{ keywords }}">
    {%- else -%}
    <meta name="keywords" content="固定のキーワード1,固定のキーワード2">
    {%- endif %}
{%- if useSnsShare === true %}
    <meta property="og:site_name" content="">
    <meta property="og:title" content="{{ title }}">
    {% if description -%}
    <meta property="og:description" content="{{ description }}">
    {%- else -%}
    <meta property="og:description" content="固定のディスクリプション文言">
    {%- endif %}
    {%- if ogUrl %}
    <meta property="og:url" content="{{ ogUrl }}">
    {%- endif %}
    {% if ogImage -%}
    <meta property="og:image" content="{{ ogImage }}">
    {%- else -%}
    <meta property="og:image" content="固定のog:image">
    {%- endif %}
    {% if ogType -%}
    <meta property="og:type" content="{{ ogType }}">
    {%- else -%}
    <meta property="og:type" content="article">
    {%- endif %}
    <meta property="og:locale" content="ja_JP">
    {% if description -%}
    <meta name="twitter:description" content="{{ description }}">
    {%- else -%}
    <meta name="twitter:description" content="固定のディスクリプション文言">
    {%- endif %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:site" content="">
    <meta name="twitter:card" content="summary">
    {# <link rel="apple-touch-icon" href="{{ root }}/assets/img/apple-touch-icon.png"> #}
    {# <link rel="icon" href="{{ root }}/assets/img/favicon.ico"> #}
{%- endif %}
    <link rel="stylesheet" href="{{ root }}/assets/css/base.css">
    <link rel="stylesheet" href="{{ root }}/assets/css/layout.css">
    <link rel="stylesheet" href="{{ root }}/assets/css/module.css">
    <link rel="stylesheet" href="{{ root }}/assets/css/utility.css">
    {% block css %}{% endblock %}
    {% block headJs %}{% endblock %}
</head>
<body>
    <div class="l_wrap">    
    {% block content %}{% endblock %}
    </div>

    <script src="https://www.japan-systems.co.jp/common/js/jquery.js"></script>
    <script src="{{ root }}/assets/js/common.js"></script>
    {% block js %}{% endblock %}
</body>
</html>