{% extends "_layout/default.njk" %}


{% set root        = '.' %}
{% set title       = 'ページタイトル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <header class="l_header">
        <div class="l_header_inner">
            <h1>
                <a href="https://www.japan-systems.co.jp/" class="l_header_logo" target="_blank">
                    <img data-src="{{root}}/assets/img/logo_japansystem01.jpg" alt="ジャパンシステム株式会社" width="126" height="64" class="lazyload">
                </a>
            </h1>
            <a href="https://www.japan-systems.co.jp/inquiry/solution.php?subject=%E8%A3%BD%E5%93%81%E6%83%85%E5%A0%B1%E3%83%BB%E3%82%BD%E3%83%AA%E3%83%A5%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3:BI%E3%82%BD%E3%83%AA%E3%83%A5%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3" class="m_btn m_btn__small" target="blank">お問い合わせ</a>
        </div>
    </header>



    <div class="l_content">
        <div class="m_mainVisual">
            <ul class="m_mainVisual_slider js_slider">
                <li class="m_mainVisual_slider_item" style="background-image: url({{root}}/assets/img/pic_mainVisual01.png);">
                    <p class="m_mainVisual_catch">
                        アナリティクスで<br>パフォーマンスの限界を<br>突破する
                        <span>データ、基盤、アナリティクスまで、<br class="u_pcHide">ワンストップで提供する会社です。</span>
                    </p>
                </li>
                <li class="m_mainVisual_slider_item" style="background-image:url({{root}}/assets/img/pic_mainVisual02.png);">
                    <p class="m_mainVisual_catch">
                        データ、うまく活用<br>できていますか？
                        <span>データ活用コンサルティングから、<br class="u_pcHide">運用サポートまでワンストップで<br class="u_pcHide">ご提供いたします。</span>
                    </p>
                </li>
            </ul>
        </div>
        <section class="m_sec" id="section01">
            <div class="m_sec_inner l_container">
                <div class="m_heading">
                    <h2 class="m_ttl">武器を持つ</h2>
                </div>
                <p class="m_lead">アナリティクスを牽引するビジュアル<br class="u_pcHide">アナリティクス製品を販売および<br>構築、利活用支援サービスを提供しています。無料体験会も定期開催中です。</p>
                <div class="m_column">
                    <div class="m_column_col">
                        <div class="m_card">
                            <div class="m_card_head">
                                <img data-src="{{root}}/assets/img/logo_section1_01.png" alt="MicroStrategy ロゴ" class="lazyload">
                            </div>
                            <div class="m_card_body">
                                <p>データガバナンスとアジリティを両立させたプラットフォームでビジネスを加速</p>
                            </div>
                            <div class="m_card_foot">
                                <ul class="m_btns">
                                    <li>
                                        <a href="https://www.japan-systems.co.jp/event/detail/mstr-hands-on-tokyo.html" class="m_btn" target="_blank">東京体験会</a>
                                    </li>
                                    <li>
                                        <a href="https://www.japan-systems.co.jp/event/detail/mstr-hands-on-osaka.html" class="m_btn" target="_blank">大阪体験会</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m_column_col">
                        <div class="m_card">
                            <div class="m_card_head">
                                <img data-src="{{root}}/assets/img/logo_section1_02.png" alt="TIBCO Spotfire ロゴ" class="lazyload">
                            </div>
                            <div class="m_card_body">
                                <p>ビジュアル分析から高度な分析の実現で<br>ビジネスを加速</p>
                            </div>
                            <div class="m_card_foot">
                                <ul class="m_btns">
                                    <li>
                                        <a href="https://www.japan-systems.co.jp/event/detail/spotfire-hands-on-tokyo.html" class="m_btn" target="_blank">東京体験会</a>
                                    </li>
                                    <li>
                                        <a href="https://www.japan-systems.co.jp/event/detail/spotfire-hands-on.html" class="m_btn" target="_blank">大阪体験会</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m_column_col">
                        <div class="m_card">
                            <div class="m_card_head">
                                <img data-src="{{root}}/assets/img/logo_section1_03.png" alt="TIBCO Data Virtualization ロゴ" class="lazyload">
                            </div>
                            <div class="m_card_body">
                                <p>アジャイルに仮想的データ統合の実現で<br>ビジネスを加速</p>
                            </div>
                            <div class="m_card_foot">
                                <p class="m_txt">comming soon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="m_sec m_sec__type2" id="section02">
            <div class="m_sec_inner l_container">
                <div class="m_heading">
                    <h2 class="m_ttl">活用例</h2>
                </div>
                <p class="m_lead">お客様のご要望に柔軟に対応し、<br class="u_pcHide">様々なシーンでご活用いただくことができます。</p>
                <div class="m_column2">
                    <div class="m_column2_col">
                        <div class="m_example lazyload" data-src="{{root}}/assets/img/bg_section2_01.png">
                            <div class="m_example_txt">
                                <h3 class="m_example_ttl">営業分野活動</h3>
                                <ul class="m_example_list">
                                    <li>販売予測</li>
                                    <li>販売シミュレーション</li>
                                    <li>ルート営業最適化</li>
                                    <li>ABC分析</li>
                                    <li>トレンド分析</li>
                                    <li>外部データを活用した商圏分析</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m_column2_col">
                        <div class="m_example lazyload" data-src="{{root}}/assets/img/bg_section2_02.png">
                            <div class="m_example_txt">
                                <h3 class="m_example_ttl">モノづくり分野</h3>
                                <ul class="m_example_list">
                                    <li>歩留まり解析</li>
                                    <li>故障予測</li>
                                    <li>在庫最適化</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="m_sec" id="section03">
            <div class="m_sec_inner l_container">
                <div class="m_heading">
                    <h2 class="m_ttl">選ばれる理由</h2>
                </div>
                <p class="m_lead">分析したいけれどデータを用意しなければ...そんなお客様に、<br class="u_pcHide">データ活用コンサルティングから、<br>運用サポートサービスまで、ワンストップでご提供いたします。<br class="u_pcHide">システム開発50年の経験でお客様の<br>真の要求を明確にして、<br class="u_pcHide">最適なアプローチを行います。</p>
                <ul class="m_flow">
                    <li>
                        <span>データ活用<br>コンサルティング<br class="u_spHide">サービス</span>
                    </li>
                    <li>
                        <span>データ活用基盤<br>構築サービス</span>
                    </li>
                    <li>
                        <span>BI導入<br class="u_spHide">サービス</span>
                    </li>
                    <li>
                        <span>運用サポート<br class="u_spHide">サービス</span>
                    </li>
                </ul>
                <div class="m_btnWrap">
                    <a href="https://www.japan-systems.co.jp/inquiry/solution.php?subject=%E8%A3%BD%E5%93%81%E6%83%85%E5%A0%B1%E3%83%BB%E3%82%BD%E3%83%AA%E3%83%A5%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3:BI%E3%82%BD%E3%83%AA%E3%83%A5%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3" class="m_btn" target="_blank">お問い合わせ</a>
                </div>
            </div>
        </section>
        <a href="#" class="m_topBtn" id="topBtn"></a>
    </div>



    <footer class="l_footer">
        <div class="l_footer_inner">
            <nav class="l_footer_nav">
                <ul class="l_footer_links">
                    <li><a href="https://www.japan-systems.co.jp/sitepolicy/" target="_blank">サイトポリシー</a></li>
                    <li><a href="https://www.japan-systems.co.jp/privacypolicy/" target="_blank">プライバシーポリシー</a></li>
                </ul>
            </nav>
            <p class="l_footer_copy">Copyright &copy; 2012 Japan Systems Co.,Ltd. <br class="u_pcHide">All Rights Reserved.</p>
        </div>
    </footer>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
<link rel="stylesheet" href="{{ root }}/assets/css/libs/slick.css">
<link rel="stylesheet" href="{{ root }}/assets/css/libs/slick-theme.css">
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
<script src="{{ root }}/assets/js/libs/lazyload.min.js"></script>
<script src="{{ root }}/assets/js/libs/slick.min.js"></script>
<script>

</script>
{%- endblock %}
