@charset "utf-8";

.l_container {
    max-width: calcRemPc(1136);
    margin-left: auto;
    margin-right: auto;
    @include mq() {
        padding: 0 2.4rem;
    }
}

.l_content {
    @include mq() {
        position: relative;
    }
}