@charset "utf-8";

.l_footer {
    background-color: $color-red;
    color: #fff;
}

.l_footer_inner {
    height: calcRemPc(72);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calcRemPc(48);
    margin-right: calcRemPc(48);
    @include mq() {
        display: block;
        height: auto;
    }
}

.l_footer_nav {
    @include mq() {
        padding: 2.4rem 0;
    }
}

.l_footer_links {
    display: flex;
    margin-bottom: 0;
    @include mq() {
        display: block;
    }
    > li {
        + li {
            margin-left: calcRemPc(24);
            @include mq() {
                margin-left: 0;
                margin-top: 2.4rem;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            font-size: calcRemPc(14);
            @include mq() {
                font-size: 1.4rem;
            }
            @include hover {
                text-decoration: underline;
            }
        }
    }
}

.l_footer_copy {
    margin-bottom: 0;
    font-size: calcRemPc(14);
    @include mq() {
        text-align: center;
        padding: 2.4rem 0;
        font-size: 1.2rem;
    }
}