@charset "utf-8";

.l_header {
    background-color: #fff;
}

.l_header_inner {
    height: calcRemPc(84);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calcRemPc(48);
    margin-right: calcRemPc(48);
    @include mq() {
        height: 5.6rem;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
    }
}

.l_header_logo {
    display: block;
    text-decoration: none;
    transition: opacity .25s;
    @include hover {
        opacity: .8;
    }
    > img {
        width: calcRemPc(126); 
        height: calcRemPc(64);
        @include mq() {
            width: 8.6rem;
            height: 4.4rem;
        }
    }
}